<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpeechRecognitionTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>613976561ECA3CCE003A5560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6139766A1ECA3CCE003A5560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>613976751ECA3CCF003A5560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
